<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Mi App{% endblock %}</title>
        {% block head_styles %}
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/styles.css') }}"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lexend:wght@100..900&display=swap"
            rel="stylesheet"
        />
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ url_for('home') }}">
                <h1>Aplicación</h1>
            </a>
            <div>
                <label for="user-menu">Cuenta</label>
                <select id="user-menu">
                    <option>Ver perfil</option>
                    <option>Cerrar sesión</option>
                </select>
            </div>
        </header>

        <main>{% block content %}{% endblock %}</main>

        <footer>
            <p>&copy; 2025 Grupo 45</p>
        </footer>
    </body>
</html>
