{% extends "adminpanel.html" %} {% block title %}Buscar usuario(s){% endblock %} {% block
content %}
<h1>Buscar usuario(s)</h1>
<form method="post" id="search-params">
    <label for="email">Email o patron:</label>
    <input
        type="text"
        id="email"
        name="email"
        placeholder="usuario@ejemplo.com o usuario..."
        value="{{ previous_search['email'] or '' }}"
        style="
            box-sizing: border-box;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 6px;
            margin-bottom: 20px;
        "
    /><br>
    <label>Actividad:</label>
    <div class="radio-group" style="margin-bottom: 20px;">
        <label><input type="radio" name="activity" value="active" 
        {% if previous_search['activity'] == True %}checked{% endif %}
        />Activo</label>
        <label><input type="radio" name="activity" value="inactive" 
        {% if previous_search['activity'] == False %}checked{% endif %}
        />Inactivo</label>
        <label><input type="radio" name="activity" value="any" 
        {% if not previous_search or previous_search['activity'] == None %}checked{% endif %}
        />Cualquiera</label>
    </div>
    <label>Rol:</label>
    <div class="radio-group">
        <label><input type="radio" name="role" value="public" 
        {% if previous_search['role'] == 4 %}checked{% endif %}
        />Público</label>
        <label><input type="radio" name="role" value="editor"
        {% if previous_search['role'] == 3 %}checked{% endif %} 
        />Editor</label>
        <label><input type="radio" name="role" value="admin"
        {% if previous_search['role'] == 2 %}checked{% endif %}  
        />Admin</label>
        <label><input type="radio" name="role" value="sysadmin"
        {% if previous_search['role'] == 1 %}checked{% endif %} 
        />Superadmin</label>
        <label><input type="radio" name="role" value="any"
        {% if not previous_search or previous_search['role'] == None %}checked{% endif %}  
        />Cualquiera</label>
    </div>    
    <button type="submit" style="margin-top: 1rem; margin-bottom: 20px;">Buscar</button>
</form>

{% if users %}
    <div class="users-list">
        {% for user in users %}
            <div class="user-card">
                <p>Email: {{ user.email }}</p>
                <br />
                <p>Nombre completo: {{ user.name }} {{ user.last_name }}</p>
                <br />
                <p>Activo: {{ "Si" if user.active else "No" }}</p>
                <br />
                <p>Rol:</p>
                <p>
                    {% if user.role_id == 4 %} 
                        Usuario publico
                    {% elif user.role_id == 3 %}
                        Usuario editor 
                    {% elif user.role_id == 2 %}
                        Administrador
                    {% elif user.role_id == 1 %}
                        Administrador del sistema
                    {% else %}
                        Desconocido
                    {% endif %}
                </p>
                <br />
                <div class="user-actions" style="margin-top: 20px; margin-bottom: 20px;">
                    {% if user.role_id != 1 %}
                        <a
                                href="{{ url_for('adminpanel.edit_user', id=user.id) }}"
                                class="btn edit-btn"
                                style="margin-bottom: 20px;"
                                >Editar</a
                            >
                        <form
                            method="POST"
                            action="{{ url_for('adminpanel.del_user', id=user.id) }}"
                            style="margin: 0px; padding: 0px;"
                            onsubmit="return confirm('¿Realmente queres eliminar este usuario?')"
                        >
                            <button type="submit" class="btn delete-btn" style="margin-top: 20px;">Eliminar</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1>No se encontraron resultados que cumplan con el criterio.</h1>
{% endif %}
{% endblock %}
