{% extends "adminpanel.html" %} {% block title %}Inicio{% endblock %} {% block
content %}
<h1>Buscar usuario(s)</h1>
<select id="search-option" required style="margin-bottom: 1rem">
    <option value="by-email">Por correo electronico</option>
    <option value="by-activeness-and-role">Por actividad y/o rol</option>
</select>

<form method="post" id="option-email">
    <label for="email">Email:</label>
    <input
        type="text"
        id="email"
        name="email"
        required
        placeholder="usuario@ejemplo.com"
        style="
            box-sizing: border-box;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 6px;
        "
    />
    <button type="submit" style="margin-top: 1rem">Buscar</button>
</form>

<form method="post" id="option-activeness-and-role" class="hidden">
    <label>Actividad:</label>
    <div class="radio-group">
        <label><input type="radio" name="actividad" value="activo" />Activo</label>
        <label><input type="radio" name="actividad" value="inactivo"/>Inactivo</label>
        <label><input type="radio" name="actividad" value="any" checked/>Cualquiera</label>
    </div>
    <label>Rol:</label>
    <div class="radio-group">
        <label><input type="radio" name="rol" value="public" />Público</label>
        <label><input type="radio" name="rol" value="editor" />Editor</label>
        <label><input type="radio" name="rol" value="admin" />Admin</label>
        <label><input type="radio" name="rol" value="sysadmin" />Superadmin</label>
        <label><input type="radio" name="rol" value="any" checked>Cualquiera</label>
    </div>    
    <button type="submit" style="margin-top: 1rem">Buscar</button>
</form>

{% if users %}
<div class="users-list">
    {% for user in users %}
    <div class="user-card">
        <p>Email: {{ user.email }}</p>
        <br />
        <p>Nombre completo: {{ user.name }} {{ user.last_name }}</p>
        <br />
        <p>Activo: {{ "Si" if user.active else "No" }}</p>
        <br />
        <p>Rol:</p>
        <p>
            {% if user.role_id == 4 %} 
                Usuario publico
            {% elif user.role_id == 3 %}
                Usuario editor 
            {% elif user.role_id == 2 %}
                Administrador
            {% elif user.role_id == 1 %}
                Administrador del sistema
            {% else %}
                Desconocido
            {% endif %}
        </p>
        <br />
        <div class="user-actions" style="margin-top: 20px; margin-bottom: 20px;">
            {% if user.role_id != 1 %}
                <a
                        href="{{ url_for('adminpanel.edit_user', id=user.id) }}"
                        class="btn edit-btn"
                        style="margin-bottom: 20px;"
                        >Editar</a
                    >
                <form
                    method="POST"
                    action="{{ url_for('adminpanel.del_user', id=user.id) }}"
                    style="margin: 0px; padding: 0px;"
                    onsubmit="return confirm('¿Realmente queres eliminar este usuario?')"
                >
                    <button type="submit" class="btn delete-btn" style="margin-top: 20px;">Eliminar</button>
                </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<h1>No se encontraron resultados que cumplan con el criterio.</h1>
{% endif %}

<script>
    const select = document.getElementById("search-option");
    const emailForm = document.getElementById("option-email");
    const activenessAndRoleForm = document.getElementById("option-activeness-and-role");

    select.addEventListener("change", function () {
        const opcion = select.value;

        emailForm.classList.add("hidden");
        activenessAndRoleForm.classList.add("hidden");

        if (opcion === "by-email") {
            emailForm.classList.remove("hidden");
        } else if (opcion === "by-activeness-and-role") {
            activenessAndRoleForm.classList.remove("hidden");
        }
    });
</script>
{% endblock %}
