:root {
	--background: #e5e7e6;
	--foreground: #555555;
	--accent: #ad46ff;
}

html {
	@apply scroll-smooth;
}

.bold-title {
	color: var(--accent);
	weight: bold;
}

header {
	background: var(--accent);
	padding: 1.5rem 0 1rem 0;
	color: white;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

body {
	background: var(--background);
	color: var(--foreground);
	text-align: center;
	min-height: 120vh;
	margin: 0;
	padding: 0;
}
