@import 'tailwindcss';
@plugin "daisyui";

:root {
  --background: #fcfeff;
  --background-accent: #dadada;
  --foreground: #000000;
  --foreground-accent: #323223;
  --font: 'Lexend', sans-serif;
}

.title-font {
  font-family: 'Yeseva One', serif;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font);
    font-weight: 600;
  }
}
