# Archivos y carpetas a ignorar en el Docker del backend
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.vscode
.idea
*.swp
*.swo
*~
.pytest_cache
.coverage
htmlcov
.flask_session
.env
.env.local
.git
.gitignore
README.md
.DS_Store
node_modules
