# Backend env ejemplo para desarrollo local
# DATABASE_URL ejemplo: postgresql://user:password@localhost:5432/dbname
DATABASE_URL=
# Flask secret key
SECRET_KEY=
# MinIO credenciales (local)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
# Otros envs: FLASK_ENV=development
FLASK_ENV=development
